<!--
 This is the opened to-do list item

 *ngIf="isOpened" add this when your done designing
 
 -->
<div class="todo-container-opened" *ngIf="isOpened">
    <div class="todo-container open" >
        <div class="todo-content">
            <div class="todo-title open" >
                <h4 class="todo-title-content" >{{title}}</h4>
                <p>{{time}}</p>
            </div>
            <div class="todo-button-container">
                <i class="bi bi-x todo-button" (click)="openList(false)"></i>
            </div>
        </div>
        <section class="todo-section">
            <div class="todo-add-container">
                <i class="bi bi-plus todo-add"></i>
                
            </div>
        </section>
        <section class="todo-hr"></section>
        <section *ngFor="let data of listData.list[0].list_items, let i = index">
            <app-list-item 
                [data]="data"
                [index]="i"
            />
            <section class="todo-hr"></section>
        </section>

    </div>
    <app-list-comments 
        [data]="commentData"
    />
</div>


<!--
 This is the unopened to-do list item
 -->
<div class="todo-container" >
    <div class="todo-content">
        <div class="todo-title" (click)="openList(true)">
            <h4 class="todo-title-content" >{{title}}</h4>
            <p>{{time}}</p>
        </div>
        <div class="todo-grabbable">

        </div>
        <div class="todo-button-container">
            <i class="bi bi-x todo-button"></i>
        </div>
    </div>
    <div class="todo-click" (click)="openList(true)">

    </div>
</div>

