<div class="home-container">
    <app-sidebar
    [section]="links"
    />

    <div class="home-mainbody">
        <div class="home-header-container">
            <app-header />
        </div>
        <div class="home-body-container"> 
            <app-recents />
            <div class="home-content">
         
                <div class="content-new">
                    <div class="content-new-container">
                        <app-list *ngFor="let data of lists.list, let i = index" 
                        [data]="data"
                        [index]="i" 
                    />
                    </div>
                    <img class="just-image" #justImage>

                </div>
                <div class="content-scheduled"> 
                  
                </div>
            </div>
        </div>
       

    </div>
</div>