<div class="list-conatainer">
    <div class="list-title">
        <h4>{{title}}</h4>
    </div>
    <div class="list-content">
        <!-- use click class for interaction -->
        <section class="list-box">
            <div></div>
        </section>
        <section class="list-desc">
            <p>{{content}}</p>
        </section>
        <section class="list-time" *ngIf="isTimed; notTimed">
            <p>{{time}}</p>
        </section>
        <section class="list-member" *ngIf="isAssign; notAssign">
            <img src="" alt="asdasd">
        </section>
        <section class="list-time" #notTimed>
            <p></p>
        </section>
        <section class="list-member" #notAssign>
        
        </section>
        <section class="list-status">
            <p>{{status}}</p>
        </section>
    </div>
</div>
