<div class="list-conatainer">
    <div class="list-title">
        <h4>List Title</h4>
    </div>
    <div class="list-content">
        <!-- use click class for interaction -->
        <section class="list-box">
            <div></div>
        </section>
        <section class="list-desc">
            <p>list description list description list description list description list description list description list description list description list description list description list description list description list description list description</p>
        </section>
        <section class="list-time">
            <p>time left</p>
        </section>
        <section class="list-member">
            <img src="" alt="asdasd">
        </section>
        <section class="list-status">
            <p>status</p>
        </section>
    </div>
</div>
