<div class="list-comment-container">
    <section class="list-comment-head">
        <h3>Comments</h3>
    </section>
    
    <section class="list-comment-body" >
      <div class="list-comment-item" *ngFor="let item of commentData.list[0].comments, let i = index">
        <div class="list-comment-user">
          <img src="" alt="user">
        </div>
        <div class="list-comment-content">
          <div class="list-content-head">
            <h4>{{item.user_id}}</h4>
            <p>{{item.time}}</p>
          </div>
          <div class="list-content-body">
            <p>{{item.comment}}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="list-comment-footer">
      <div class="list-comment-img">
        <img src="" alt="user">
      </div>
      <div class="list-comment-input">
        <textarea name="" id=""></textarea>

      </div>
        
    </section>
    <section class="list-comment-buttons">
      <button type="button" class="button secondary-button ">Cancel</button>
      <button type="button" class="button primary-button ">Enter</button>

    </section>
  </div>