.sidebar-container{
    width: 50vw;
    background-color: var( --semiblack);
    color: var(--offwhite);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'roboto';
}


.sidebar-body *{
    list-style-type: none;
    user-select: none;
  ;
}
.sidebar-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: .2em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}
.sidebar-header *{
    margin: 0;
}
.sidebar-logo{
    width: 50px;
    margin-right: 1em !important;
}