<div class="home-container">
    <app-sidebar/>

    <div class="home-mainbody">
        <div class="home-header-container">
            <app-header />
        </div>
        <div class="home-body-container"> 

            <app-recents />
            <div class="home-content">
         
                <div class="content-new">
                    <app-list />
                </div>
                <div class="content-scheduled"> 
                  
                </div>
            </div>
        </div>
       

    </div>
</div>