<div class="sidebar-section">
    <li class="sidebar-section-header" (click)="isClicked(isopened)" >
        <i class="bi bi-caret-down"></i>
       Personals
    </li>
    <div class="sidebar-section-body opened" #sectionBody>
        <ul class="sidebar-section-list">
            <li class="sidebar-section-content">Sample List</li>
        </ul>
        <ul class="sidebar-section-list">
            <li class="sidebar-section-content">Sample List</li>
        </ul>
        <ul class="sidebar-section-list">
            <li class="sidebar-section-content">Sample List</li>
        </ul>
    </div>
</div>